version: '3.1'
volumes:
  mysql-volume:
  ghost-volume:
    
services:
 mysql:  
  image: mysql:5.7
  container_name: mysql
  restart: always
  volumes:
    - mysql-volume:/var/lib/mysql
    - ./docker-assets/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    - ./mysql-backups:/backups
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: db
    MYSQL_USER: blog-user
    MYSQL_PASSWORD: supersecret
  networks:
      - app-network

 nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./docker-assets/nginx/sites-enabled/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
    stdin_open: true
    tty: true
    networks:
      - app-network

 ghost:  
  image: custom-ghost
  container_name: ghost
  volumes:
    - ./docker-assets/ghost_content:/var/lib/ghost/content
  restart: always
  ports:
    - 2368:2368 
  environment:
    database__client: mysql
    database__connection__host: mysql
    database__connection__user: blog-user
    database__connection__password: supersecret
    database__connection__database: db
    storage__active: s3
    storage__s3__accessKeyId: S3_ACCESSK_EY_ID
    storage__s3__secretAccessKey: S3_ACCESS_KEY
    storage__s3__region: S3_REGION
    storage__s3__bucket: S3_STORAGE_BUCKET
    mail__transport: SMTP
    mail__options__service: Mailgun
    mail__options__host: smtp.mailgun.org
    mail__options__port: 587
    mail__options__secureConnection: 'false'
    mail__options__auth__user: MAILGUN_AUTH_USER
    mail__options__auth__pass: MAILGUN_AUTH_PASSWORD
    url: https://DOMAIN.COM

  networks:
      - app-network
  command: ["node", "current/index.js"]
networks:
  app-network:
    driver: bridge 

